<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rishiqing.AliyunCRM.dao.CustomerDao">
    <resultMap id="customerMap" type="com.rishiqing.AliyunCRM.model.Customer">
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="emailAdd" column="email" />
        <result property="phoneNo" column="phone"/>
        <result property="verificationCode" column="verification_code" />
        <result property="dateCreated" column="date_created" />
        <result property="customerStatus" column="customer_status"/>
        <result property="customerNote" column="customer_note" />
        <result property="adminNote" column="admin_note" />
        <result property="rsqLicense" column="rsq_license" />
    </resultMap>


    <insert id="saveCustomer"
            parameterType="com.rishiqing.AliyunCRM.model.Customer"
            flushCache="true"
            keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO `customer`
        (name,email,phone,verification_code,date_created,customer_note)
        VALUES
        (#{name},#{emailAdd},#{phoneNo},#{verificationCode},NOW(),#{customerNote})
        ON DUPLICATE KEY UPDATE
        name=#{name},
        email=#{emailAdd},
        phone=#{phoneNo},
        verification_code=#{verificationCode},
        date_created=NOW(),
        customer_note=#{customerNote}
    </insert>

    <select id="getAllCustomers" resultMap="customerMap">
        SELECT * FROM `customer`
    </select>
    <select id="getCustomerById" resultMap="customerMap"
            parameterType="com.rishiqing.AliyunCRM.model.Customer"
            flushCache="true">
        SELECT * FROM `customer` WHERE id=#{id}
    </select>
    <select id="getCustomerByBatch" resultMap="customerMap"
            parameterType="java.lang.Integer"
            flushCache="true">
        SELECT * FROM `customer` ORDER BY id DESC LIMIT #{1},#{0}
    </select>
    <select id="getCustomerCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM `customer`
    </select>

    <select id="searchCustomer" parameterType="map" resultMap="customerMap">
        SELECT * FROM `customer`
        <where>
        <if test='name!=null and name!=""'>
            name LIKE "%${name}%"
        </if>
        <if test='phoneNo!=null and phoneNo!=""'>
            AND phone LIKE "%${phoneNo}%"
        </if>
        <if test='emailAdd!=null and emailAdd!=""'>
            AND email LIKE "%${emailAdd}%"
        </if>
        <if test='verificationCode!=null and verificationCode!=""'>
            AND verification_code = #{verificationCode}
        </if>
        <if test='rsqLicense!=4'>
            AND rsq_license = #{rsqLicense}
        </if>
        <if test='status!=4'>
            AND customer_status = #{status}
        </if>
        </where>
        ORDER BY id DESC
        LIMIT #{maxResult}
    </select>

    <update id="updateCustomerById" parameterType="map">
        UPDATE `customer`
        <set>
        <if test='adminNote!=null and adminNote!=""'>
            admin_note = #{adminNote},
        </if>
        <if test='status!=4'>
            customer_status = #{status},
        </if>
        <if test='rsqLicense!=4'>
            rsq_license = #{rsqLicense}
        </if>
        </set>
        WHERE id=${id}
    </update>

</mapper>